{% extends "base.html" %}
{block title}
{if title %}
   <title>{{ title }}</title>
{else}
    <title>Register</title>
{% endblock %}
{% block content %}
    <h1>Register</h1>
    <form method="post" action="{{ url_for('register') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
{% endblock %}